body {
    color: #424242;
    background: #BBE4F8;
}

.login-form {
    margin: 30px auto;
}

.login-form form{
    color: #424242;
    background: #EBF6FF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin-bottom: 15px;
}

.login-form h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

.login-form .form-control {
    border-color: #dfdfdf;
    box-shadow: none !important;
}

.login-form .form-control,
.login-form .btn {
    min-height: 38px;
}

.login-form input[type="email"] {
    border-radius: 2px 2px 0 0;
}

.login-form input[type="password"] {
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
}

.login-form .btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    background: #81C92C;
    color: #fff;
    margin-bottom: 25px;
    outline: none !important;
}

.login-form a {
    color: #405e9e;
}

.login-form form a {
    color: #424242;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
}
a{
    text-decoration:none;
}

.ojoPassword{
    margin-right: 30px;
    margin-top: -40px;
    cursor: pointer;
    float: right;
}